minecraft/*
!minecraft/mods
!minecraft/config
!minecraft/configureddefaults
!minecraft/defaultconfigs
!minecraft/kubejs
*.tmp
oculus.properties
minecraft/config/fabric/indigo-renderer.properties
minecraft/config/packetfixer.properties
minecraft/config/embeddium-fingerprint.json
instance.cfg
