minecraft/*
!minecraft/mods
!minecraft/config
!minecraft/configureddefaults
!minecraft/defaultconfigs
!minecraft/kubejs
*.tmp
oculus.properties
instance.cfg
minecraft/config/packetfixer.properties
minecraft/config/oculus.properties
minecraft/config/indigo-renderer.properties